* { font-family: 'Poppins';
}

html, body {
    background-color:rgb(236, 236, 236);
}

table.contained {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

.w-50 {
    width: 50%
}

.w-40 {
    width: 40%
}

.edit-cell {
    text-align: right;

}

.edit-cell a {
    color: white;
    text-decoration: none;
    background-color: blue;
    padding: 4px 8px;
    margin: 2px 0;
    border-radius: 10px;
    display: inline-block;
}

.edit-cell a:hover {
    background-color: rgb(0, 90, 255);
}


table {
    /* border: 1px solid black; */
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

th {
    text-align: start;
    background-color: rgb(170, 170, 204);
    padding: 8px 4px;
}

tr {
    border-bottom: 1px solid rgb(177, 177, 177);
}

tfoot tr {
    border-bottom: 0;
}

tfoot tr.sum td {
    text-align: right;
}

small {

    font-size: 10px;
}

.tituloindex {
    text-align: center;
       }


.botoesindex {
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: blue;
    padding: 4px 8px;
    margin: 2px 0;
    border-radius: 10px;
    display: inline-block;
}

.listaindex:hover {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 4px 8px;
    margin: 2px 0;
    border-radius: 10px;
    display: inline-block;
}

.listaindex {
    text-align: center;
    list-style: none;
    display: inline-block;
}

.listacompletaindex {
    text-align: center;
}

.titulotitulo {
    text-align: center;
}

.caixa {
    text-align: center;
    margin: 20px;
    width:200px;
    height:50px; 
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    box-shadow: 0px 12px 20px -15px black;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.formtest {
    margin: 10px;
    background-color: rgb(219, 219, 219);
    box-shadow: 0px 12px 20px -15px black;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    margin: 20px;
    width:500px;
    height: 550px;
}

.enviar {
    text-align: right;
}

#forminicio {
    margin: 10px;
}
#area {
    margin: 20px;
}

@media screen and (max-width: 600px) {
    html, body {
        background-color: rgb(255, 255, 255);
    }

    .botoesindex {
        background-color: blue;
        padding: 
        4px 8px;
        margin: 2px 0;
    }

    .listaindex {
        display: block;
    }
}